# Dependências
node_modules
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build outputs
.next
out
build

# Arquivos de desenvolvimento
.env*.local
.env.development
.env.test

# Arquivos do sistema
.DS_Store
*.pem
Thumbs.db

# Git
.git
.gitignore

# Docker
Dockerfile
.dockerignore

# IDE
.vscode
.idea
*.swp
*.swo

# Logs
logs
*.log

# Coverage
coverage

# Vercel
.vercel

# TypeScript
*.tsbuildinfo

# Misc
README.md
.eslintrc.json 